<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BookBase Improved</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='homepage.css') }}"
    />
  </head>
  <body>
    <header></header>

    <div class="app">
      <!-- Left Sidebar -->
      <!--<div class="sidebar">
        <div>
          <div class="brand"><span>Book</span><span>Base</span></div>
          <div class="nav-links">
            <a href="#">Discover</a>
            <a href="#">Recommended</a>
            <a href="#">Categories</a>
            <a href="#">Saved</a>
            <a href="#">Profile</a>
          </div>
        </div>
      </div>-->

      <!-- Main Content -->
      <div class="main-content">
        <!-- Search Bar -->
        <div class="search-background">
          <div class="brand"><span>Book</span><span>Base</span></div>

          <div class="search-bar">
            <img
              src="static/images/search-icon.png"
              alt="search-icon"
              class="search-icon"
            />
            <input type="text" placeholder="Search your favourite books" />
          </div>

          <div class="user-profile">
            <img
              src="{{ url_for('static', filename='images/user.png') }}"
              alt="User Profile"
            />
            <span>{{ session.get('username', 'Guest') }}</span>
            <a href="{{ url_for('auth.logout') }}" class="logout-button"
              >Logout</a
            >
          </div>
        </div>

        <div class="grouped-together">
          <!-- Left Panel -->
          <div class="right-panel">
            <div class="featured-book">
              <img src="static/images/catch22.jpg" alt="Featured Book" />
              <h4>Catch-22</h4>
              <h5>Joseph Heller</h5>
              <br />
              <p>
                Catch-22 by Joseph Heller is a darkly satirical novel about the
                absurdity of war, bureaucracy, and logic. The term "Catch-22"
                embodies the paradox where trying to avoid danger proves your
                sanity, making you ineligible to escape it.
              </p>

              <div class="rating">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span style="color: #666">&#9733;</span>
              </div>
              <a href="#" class="read-now-btn">Read Now</a>
            </div>
          </div>
          <div class="grouped-together-2">
            <!-- Recommended Section -->
            <div class="recommended">
              <div class="recommended-header">
                <h2>Recommended</h2>
                <a href="#">See All</a>
              </div>

              <div class="books-row">
                <a href="/book-link?book=thekiterunner.json" class="book-link">
                  <div class="book-card">
                    <img
                      class="book_images"
                      src="static/images/thekiterunner.jpg"
                      alt="Book 1"
                    />
                    <div class="book-title">The Kite Runner</div>
                    <div class="book-author">Khaled Husseni</div>
                  </div>
                </a>

                <a
                  href="/book-link?book=crimeandpunishment.json"
                  class="book-link"
                >
                  <div class="book-card">
                    <img
                      class="book_images"
                      src="static/images/crimeandpunishment.jpg"
                      alt="Book 2"
                    />
                    <div class="book-title">Crime and Punishment</div>
                    <div class="book-author">Fyodor Dostoevsky</div>
                  </div>
                </a>

                <a href="/book-link?book=animalfarm.json" class="book-link">
                  <div class="book-card">
                    <img
                      class="book_images"
                      src="static/images/animalfarm.jpg"
                      alt="Book 3"
                    />
                    <div class="book-title">Animal Farm</div>
                    <div class="book-author">George Orwell</div>
                  </div>
                </a>

                <a href="/book-link" class="book-link">
                  <div class="book-card">
                    <img
                      class="book_images"
                      src="static/images/mockingbird.png"
                      alt="Book 4"
                    />
                    <div class="book-title">To Kill A Mocking Bird</div>
                    <div class="book-author">Harper Lee</div>
                  </div>
                </a>

                <!-- <a href="/book-link" class="book-link">
                  <div class="book-card">
                    <img
                      class="book_images"
                      src="static/images/whitenights.png"
                      alt="Book 5"
                    />
                    <div class="book-title">White Nights</div>
                    <div class="book-author">Fyodor Dostoevsky</div>
                  </div>
                </a> -->
              </div>
            </div>

            <!-- Categories Section -->
            <div class="categories">
              <div class="categories-header">
                <h2>Categories</h2>
              </div>
              <div class="categories-tabs">
                <div class="category-item active">All</div>
                <div class="category-item">Business</div>
                <div class="category-item">Finance</div>
                <div class="category-item">Education</div>
                <div class="category-item">Philosophy</div>
                <div class="category-item">Fiction</div>
                <div class="category-item">Geography</div>
                <div class="category-item">Self-help</div>
                <div class="category-item">Romance</div>
                <div class="category-item">Sci-Fi</div>
              </div>

              <div class="categories-books"></div>
            </div>
          </div>

          <!-- Right Panel -->
          <div class="right-panel">
            <div class="featured-book">
              <img src="static/images/theprophet.jpg" alt="Featured Book" />
              <h4>The Prophet</h4>
              <h5>By Khalil Gibran</h5>
              <br />
              <p>
                Kahlil Gibran’s masterpiece, The Prophet, is one of the most
                beloved classics of our time. Published in 1923, it has been
                translated into more than twenty languages, and the American
                editions alone have sold more than nine million copies.
              </p>

              <div class="rating">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span style="color: #666">&#9733;</span>
              </div>
              <a href="#" class="read-now-btn">Read Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='homepage.js') }}"></script>
  </body>
</html>
