body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    height: 100vh; /* Make it occupy the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is distributed */
    text-align: center;
    overflow: hidden; /* Prevents any content from spilling out */
}

header h1 {
    font-size: 24px;
    color: #333;
}

#content-area {
    background: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100vh; 

}

#book-content {
    height: 87vh;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    min-height: 400px;
    margin-bottom: 20px;
    overflow-y: scroll; /* Ensure vertical scrolling only */
    padding-inline: 1.2rem;
    border: #13a53f solid 2px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

button:hover:enabled {
    background-color: #2980b9;
}

/* Popup styling */
#popup {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
    width: auto;
    text-align: center;
}

/* Optional: Add an animation for the popup's appearance */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#popup.show {
    animation: fadeIn 0.1s ease-in-out;
}

#popup .popup_buttons{
    margin: 0 8px;
    width: auto;
}



.tts-container {
    text-align: center;
    margin-top: 20px;
}

textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

audio {
    margin-top: 20px;
}