@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color:#35312f;

    color: #e5e5e5;
    font: 16px/1.25 'Crimson Text', sans-serif;
    margin: 0;
    padding: 0;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


#wrapper {
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 63em;

}

#container {
    float: left;
    padding: 1em;
    width: 100%;

}



/*** OPEN BOOK ***/
.open-book {
    background: #fff;
    /* background: oldlace;
    background:linear-gradient(90deg, rgb(218, 211, 201), rgb(242, 233, 219) 5%, oldlace 15% ); */

    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    color: #000;
    padding: 2em;  
    /* position: relative; */

}
.open-book .chapter-title {
    background: url(../static/images/titledesign.svg) bottom center no-repeat;
    background-size: 0.5em 0.5em;
    font: 500 5vw/1.25 'Playfair Display', sans-serif;
    font-size: 29px;
    letter-spacing: 0.125em;
    margin: 0 0 1em 0;
    padding: 1em 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}


/* Highlight */
.open-book *::-moz-selection {
    background: rgba(222,255,0,0.75);
}

.open-book *::selection {
    background: rgba(222,255,0,0.75);
}

/* Header/Footer */
.open-book header {
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.open-book header *{
    font: 700 1em/1.25 'Playfair Display', sans-serif;
    letter-spacing: 0.125em;
    margin: 0;
}

.open-book header * {
    font-size: 0.75em;
    text-transform: uppercase;
}

.open-book footer {
    padding-top: 0em;
}

.open-book footer #page-numbers #page-number-1{
    font: 600 1em/1.25 'Playfair Display', sans-serif;
    letter-spacing: 0.125em;
    display:flex;
    justify-content: space-between;
    margin: 0;
}


.open-book footer #page-numbers #page-number-2{
    font: 600 1em/1.25 'Playfair Display', sans-serif;
    letter-spacing: 0.125em;
    display:flex;
    justify-content: space-between;
    margin: 0;
}

.open-book footer #page-numbers{
    display:flex;
    justify-content: space-between;
    margin: 0;
}

.open-book footer #page-numbers p{
    margin: 0;
    padding: 0;
}

/* .open-book footer #page-numbers > li:last-child {
    text-align: right;
} */

/* Chapter Title */


.open-book .chapter-title:before,
.open-book .chapter-title:after {
    border: solid 0 #000;
    border-width: 0.05em 0;
    bottom: calc((0.125em / 2) * 3);
    content: '';
    height: 0.15em;
    position: absolute;
    width: calc(50% - (1em / 2));

}

.open-book .chapter-title:before {
    left: 0;
}

.open-book .chapter-title:after {
    right: 0;
}

/* Body Copy */
.open-book article {
    line-height: 1.5;


}

/* .open-book article *:not(.chapter-title):not(hr):not(dl) {
    margin: 0 auto;
    max-width: 33em;
} */

.open-book article p {
    text-indent: 2em;
}

.open-book .chapter-title + p:first-of-type {
    text-indent: 0;
}

.open-book .chapter-title + p:first-of-type:first-letter {
    float: left;
    font: 700 3em/0.65 'Playfair Display', sans-serif;
    padding: 0.15em 0.05em 0 0;
    text-transform: uppercase;
}

.open-book article > ul,
.open-book article > ol {
    padding-left: 3em;
}

.open-book article > ul ul {
    padding-left: 1em;
}


.open-book sup {
    color: #cc0000;
    font-family: 'Rock Salt', cursive;
    left: 0;
    margin-top: -1em!important;
    max-width: 100%!important;
    position: absolute;
    text-align: center;
    width: 100%;
}

.open-book mark {
    background: linear-gradient(to bottom, rgba(222,255,0,1) 0%,rgba(222,255,0,0.5) 60%,rgba(222,255,0,1) 100%);
}

.open-book mark.pink {
    background: linear-gradient(to bottom, rgba(255,69,190,1) 0%,rgba(255,107,203,0.5) 60%,rgba(255,107,203,1) 100%);
}

.open-book mark.blue {
    background: linear-gradient(to bottom, rgba(73,179,255,1) 0%,rgba(107,193,255,0.5) 60%,rgba(107,193,255,1) 100%);
}

.open-book mark.green {
    background: linear-gradient(to bottom, rgba(67,226,15,1) 0%,rgba(39,229,54,0.5) 60%,rgba(39,229,54,1) 100%);
}

.open-book mark.orange {
    background: linear-gradient(to bottom, rgba(255,134,9,1) 0%,rgba(255,177,34,0.5) 60%,rgba(255,177,34,1) 100%);
}

.open-book hr {
    background-color: #000;
    border: 0;
    height: 2px;
    margin: 1em 0;
}

.open-book dl {
    border: solid 0 #ccc;
    border-width: 0.0625em 0;
    break-inside: avoid-column;
    margin: 1em auto;
    padding: 1em 0;
}



/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 50em ) {

    .open-book {
        margin: 1em;
        position: relative;

    }

    .open-book:before {
        background-color: #8B4513;
        border-radius: 0.25em;
        bottom: -1em;
        content: '';
        left: -1em;
        position: absolute;
        right: -1em;
        top: -1em;
        z-index: -1;


    }

    .open-book:after {
        background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
        bottom: -1em;
        content: '';
        left: 50%;
        position: absolute;
        top: -1em;
        transform: translate(-50%,0);
        width: 4em;
        z-index: 1;

    }

    .open-book > * {
        column-count: 1;
        column-gap: 6em;
        position: relative;
        z-index: 1;

    }

    /* Header/Footer */
    .open-book header:before,
    .open-book header:after,
    .open-book footer:before,
    .open-book footer:after {
        background: #fff;
        border-radius: 25%;
        content: '';
        height: 2em;
        position: absolute;
        z-index: -1;
        width: calc(50% + 2em);
    /* background-color: oldlace; */

    }

    .open-book header:before,
    .open-book footer:before,
    .open-book footer:after {
        border-top-left-radius: 0;
    }

    .open-book header:after,
    .open-book footer:before,
    .open-book footer:after {
        border-top-right-radius: 0;
    }

    .open-book header:before,
    .open-book header:after,
    .open-book footer:after {
        border-bottom-right-radius: 0;
    }

    .open-book header:before,
    .open-book header:after,
    .open-book footer:before {
        border-bottom-left-radius: 0;
    }

    .open-book header:before,
    .open-book header:after {
        top: -2.65em;
    }

    .open-book header:before,
    .open-book footer:before {
        right: 50%;
    }

    .open-book header:before {
        transform: rotate(-2deg);
    }

    .open-book header:after,
    .open-book footer:after {
        left: 50%;
    }

    .open-book header:after {
        transform: rotate(2deg);
    }

    .open-book footer:before,
    .open-book footer:after {
        bottom: -2.65em;
    }

    .open-book footer:before {
        transform: rotate(2deg);
    }

    .open-book footer:after {
        transform: rotate(-2deg);
    }

    .open-book header > *:last-child,
    .open-book footer > *:last-child {
        text-align: right;
    }

    /* .open-book footer #page-numbers {
        display: block;
    } */

    /* Chapter Title */


    .open-book .chapter-title:before,
    .open-book .chapter-title:after {
        height: 0.125em;
    }

    /* Body Copy */
    .open-book article p {
        text-indent: 0em;
    }

    .open-book article > ul,
    .open-book article > ol {
        padding-left: 4em;
    }

}

.book-content {
    font-size: 17px;
    padding: 1.5em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 600px;


}

#bothPages {
display:flex;
box-sizing: border-box;
position: relative;
}

#book-content-1 {
    width: 50%;
    /* margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px; */
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 15px;
}

#book-content-1 p{
    margin-bottom: 0;
}
  
#book-content-2 {
    width: 50%;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  #book-content-2 p{
    margin-bottom: 0;
}

  
  .book-navigation {
    background-color: #fff8e1;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.5);
  }
  
  .book-navigation button {
    all: unset;
    font-size: 18px;
    background-color: #5d4037;
    color: white;
    width: 110px;
    font-weight: 400;
    text-align: center;
    padding-block: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-navigation #page_num_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 42px;
    font-size: 22px;
    font-weight: 600;
    background-color: #5d4037;
    color: white;
    border-radius: 20px;
  }
  
  audio {
    margin-top: 10px;
  }



  #popup {
    /* position: absolute; */
    /* z-index: 2000; */
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: #e0ddd1;
    border-radius: 45px;
    padding: 10px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    /* height: auto; */
    width: 100px;
    max-height:fit-content;
    justify-content: space-between;
    
  }
  
  .popup_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.0;


    border: none;
    outline: none;
    font-family: inherit;
    background-color: transparent;
    color: black;
    /* border: 0.1px solid gray; */
    font-size: 17px;
    font-weight: 400;
    border-radius: 25px;
    padding: 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button_icon {
    width: 40px;  /* Adjust size */
    height: 40px;  /* Adjust size */
    margin-bottom: 5px;
  }
  
  .popup_buttons:hover {
    background-color: #bb9a8f;

    color: white;
  }
  
  .popup_buttons:active {
    transform: translateY(0);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
  }

.highlighted-text {
   background: linear-gradient(to bottom, rgba(255,134,9,0.7) 0%,rgba(255,177,34,0.36) 60%,rgba(255,177,34,0.8) 100%);
   border-radius: 7px;
}


.bookmark-icon {
  position: absolute;
  top: -25px;
  right: 45%;  /* Change to left: 10px; for top-left */
  width: 100px;
  height: 200px;
  display: none; /* hidden by default */
  z-index: 999;
}

.bookmark-icon img {
  width: 100%;
  height: auto;
}


.highlighted-word {

    background: url(../static/images/bluemark.svg) bottom repeat-x;
    background-size: auto 0.25em;
    color: inherit;
    text-decoration: none;
}

.highlighted-word-red {

    background: url(../static/images/redmark.svg) bottom repeat-x;
    background-size: auto 0.25em;
    color: inherit;
    text-decoration: none;
}



.open-book s,
.open-book strike {
    background: url(../static/images/redmark.svg) center repeat-x;
    background-size: auto 0.5em;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
  }
  
  /* .highlighted-word::after {
    content: attr(data-tooltip);
    width: 370px;
    overflow:auto;
    position: absolute;
    font-size: 10px;
    left: 30px;
    bottom: -2.5em;
    background: #fff;
    color: #333;
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    z-index: 10;
  } */
  
  /* .highlighted-word:hover::after,
  .highlighted-word.show-tooltip::after {
    display: block;
    color: #cc0000;
    font-family: 'Rock Salt', cursive;
    text-align: center
  } */

  .custom-tooltip-dictionary {
    position: absolute;
    overflow: scroll;
    left:50px;
    bottom: -21px;
    background: #fff;
    width: 330px;
    height: 80px;
    color: #333;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    border-radius: 1px;
    display: none;
    text-align: left;
    font:16px / 1 'Crimson Text', sans-serif;
  }
  
  /* Optional: Nice fade in/out */
  .custom-tooltip-dictionary.show {
    display: block;
  }

  .custom-tooltip-ai {
    position: absolute;
    overflow: scroll;
    left:480px;
    bottom: -21px;
    background: #fff;
    width: 330px;
    height: 80px;
    color: #333;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    border-radius: 1px;
    display: none;
    text-align: left;
    font:16px / 1 'Crimson Text', sans-serif;
  }
  .custom-tooltip-ai.show {
    display: block;
  }

  
/* Characters to display */
.characters_to_display {
    background-color: #cc0000;
    height: 400px;
    width: 100px;
    left: 33px;               /* Align with left edge */
    z-index: 1000;         /* Ensure it stays on top */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup_with_chatbot {
    display: flex;
    flex-direction: column;
    height: 120%; /* or set a fixed height like 300px if needed */
    padding: 10px;
    justify-content: space-between; 
    gap: 10px;}

.chatbot {
        background-color: #e0ddd1;
        color: #cc0000;
        border-radius: 52px;
        width: 80px;
        height: 80px;
        align-self: center;
        text-align: center;
      
        /* Add this to center text */
        display: flex;
        justify-content: center;
        align-items: center;
      }

.popup_button_chatbot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.0;
    
    
        border: none;
        outline: none;
        font-family: inherit;
        background-color: transparent;
        color: black;
        /* border: 0.1px solid gray; */
        font-size: 17px;
        font-weight: 400;
        border-radius: 25px;
        padding: 10px 0px;
        cursor: pointer;
        transition: all 0.3s ease;
      }



.button_icon_chatbot{
        width: 80px;  /* Adjust size */
        height:80px;  /* Adjust size */
        margin-bottom: 5px;
        border: 0px;
        
      

}


/* POPUP for CHARCATERS */

.popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999;
  }
  
  .popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .popup-content {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
    transition: transform 0.4s ease;
    max-width: 600px;
    width: 90%;
    color: #333;
    font-family:'Crimson Text', sans-serif;
  }
   .popup-content h2{
    font-size: 20px;
    font-weight: 'Bold';
  }
  
  .popup-overlay.show .popup-content {
    transform: scale(1);
  }
  
  .hidden {
    display: none;
  }


/* STICKY NOTES */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');



#addBtn {
    background: transparent;
    padding: 15px 30px;  
    margin-left:10px;
    margin-top:10px;
    color: #d1f5d3;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    border: 3px solid #d1f5d3;
    outline:none;
    border-radius: 5px;
    cursor: pointer;    
  
  &:active {
      transform: scale(0.98);
    }
}


.sticky-container {
   height:100vh;
   width:100%;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-family: 'Rock Salt', cursive;
  
  .sticky{
    position:relative;
    height:280px;
    width:220px;
    display:inline-block;
    margin:10px;
    padding:18px 10px 10px 10px;
    box-sizing: border-box;
    box-shadow: 6px 7px 12px -5px rgba(0,0,0,0.75);
    font-size:24px;
    background: #ffd31d;
    resize: both;
    overflow: scroll;
    animation: stickAnim .3s ease;
    color: #cc0000;

    
    &::-webkit-scrollbar {
      display: none;  
    }
    
    &:focus {
      outline: none;
    }
    
    .close {
      font-size: 26px;
      position: absolute;
      top: 0;
      right:0;
      cursor: pointer;
      width: 18px;
      
        &:active {
          transform: scale(0.98);
        }
    }
    
    @keyframes stickAnim {
      0%{
        transform: scale(5);
      }
      
      100% {
        transform: scale(1);
      }
    }

  }
}





/* Flip effect styles */


/* FOR HIGHLITING COLOR OPTIONS */

  